<div class="container-fluid">
	<div class="container pollContainer">
		<form action="/newpoll" method="post" id="poll">
		</form>
		<button class="btn btn-form" id="newOptionBtn">Add option</button>
		<button class="btn btn-form" onclick="submitForm();">Done</button>
	</div>
</div>
<script src="../js/index.js"></script>
