html,
body {
	background-color: #111111;
	font-family: 'Raleway';
}
#header {
	height: 35px;
	background-color: #dfc1c1;
}
.btn-head {
	margin-top: -8px;
	border-radius: 5px;
}
.dropdown {
	transition: all 250ms;
	position: absolute;
	display: hidden;
	color: #111111;
	left: -4px;
	top: -46px;
	background-color: #dfc1c1;
	border-radius: 5px;
	border-top: none;
	border-right: 2px solid #a79292;
	border-left: 2px solid #a79292;
	border-bottom: 2px solid #a79292;
	width: 52px;
}
.btn-head {
	position: relative;
}
.btn-head:hover .dropdown {
	display: block;
	transform: translateY(86px);
}
#poll {
	padding: 10%;
	text-align: center;
}
input {
	border: none;
	border-top: 3px solid #7c000000;
	padding: 0px 20px;
	font-weight: 700;
	color: #dfc1c1;
	background-color: #111111;
	border-bottom: 3px solid #dfc1c1;
	transition: all 500ms;
}

.linkContainer {
	border-bottom: 1px solid #dfc1c1;
	padding: 40px 40px 60px 40px;
	text-align: center;
	margin: 10px;
	border-radius: 5px;
}
.linkContainer:hover {
	background-color: #dfc1c1;
}
.linkContainer:hover span {
	color: #111111;
}
.link {
	color: coral;
	font-weight: 700;
}
.link:hover {
	color: #111111;
}
.nameText {
	width: 50%;
	float: left;
	color: lightseagreen;
}
.voteText {
	width: 50%;
	float: right;
	color: hotpink;
}

.inputDiv {
	display: block;
	margin: 15px auto;
	text-align: center;
}

.btn-form {
	color: #dfc1c1;
	margin-left: 10px;

	background-color: #111111;
	font-weight: 700;
}
.btn-form:hover {
	background-color: #dfc1c1;
	color: #000000;
}
.btn-form i {
	font-size: 24px;
}

#title {
	margin-top: 20px;
	text-align: center;
	font-weight: 700;
	color: #dfc1c1;
	font-size: 32px;
	text-align: center;
	margin-bottom: 20px;
}
#copyUrlText {
	width: 280px;
	margin-bottom: 0px;
	color: lightseagreen;
	padding: 0 5px;
	font-weight: 400;
}
.btn-copy {
	display: inline-block;
	margin: 0 auto;
}
#resultContainer {
	text-align: center;
	color: #dfc1c1;
}
#resultContainer label,
#resultContainer input {
	font-size: 24px;
	font-weight: 700;
}
#resultContainer label {
	margin-left: 10px;
}
#resultContainer input {
	width: 60%;
}
#resultContainer,
#barsContainer {
	margin-top: 40px;
}
.pollForm:first-of-type {
	border-top: 1px solid #dfc1c1;
}
.pollForm {
	border-bottom: 1px solid #dfc1c1;
	padding: 20px 0px;
}
.btn-vote {
	margin-left: 50px;
}
.bar {
	border-top: 3px solid #111111;
	color: lightseagreen;
	position: relative;
	text-align: left;
	width: 100%;
	height: 50px;
}
.fill {
	transition: all 500ms;
	font-weight: 700;
	color: #111111;
	background-color: #dfc1c1;
	height: 22px;
	position: absolute;
	top: 24px;
	left: 0;
	border-radius: 5px;
}
.error {
	margin-top: 50px;
	color: #dfc1c1;
	font-size: 28px;
	font-weight: 700;
}
@media only screen and (max-width: 500px) {
	#title {
		font-size: 18px;
		width: 100%;
	}
}
@media only screen and (max-width: 400px) {
	#resultContainer input {
		font-size: 18px;
	}
	.btn-vote {
		display: block;
		margin: 0px auto;
	}
}
@media only screen and (max-width: 300px) {
	#resultContainer input {
		font-size: 12px;
	}
}
